#container {
    text-align: center;
}

.left-button {
	display:block;
    	position: absolute;
    	right: 5%;
    	bottom: 5%;
}

.left-button a {
	display: inline-block;
}

.left-button a.social {
	margin-right: 20px;
}

.social .button {
    width: 74px;
    height: 74px;
    background-image: url('/img/social.png');
    background-position: 0 0;
}

.social .button:hover {
    background-position: 0 -74px;
}

.question .button {
    width: 74px;
    height: 74px;
    background-image: url('/img/question.png');
    background-position: 0 0;
}

.question .button:hover {
    background-position: 0 -74px;
}

.phone {
    position: absolute;
    left: 10px;
    top: 40px;
    display: block;    
    width: 400px;
    /*font: menu;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 72px;*/
}

/* .delivery {
    display: inline-block;
    font: menu;
    text-decoration: none;
    color:#f5f5f5;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px dotted white;
}
.delivery:hover {
    color:#f9e387;
    border-bottom: 2px dotted #f9e387;
}*/

.close-icon {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 60px;
    height: 60px;
    background-image: url('/img/close.png');
    background-position: 0 0;
    background-size: cover;
}

.close-icon:hover {
    background-position: 0 -60px;
}

#product .close-icon {
	margin-left: 20px;	
}

/* .rectangular-button {
    display: inline-block;
    font: menu;
    width: 210px;
    height: 70px;
    margin: 10px;
    line-height: 74px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7); #464646;
    box-shadow: 0 0 3px gray;
    font-size: 26px;
    font-weight: bold;
}
.rectangular-button:hover {
    background: #262626;
    background: rgba(0, 0, 0, 1);
    background: #f9e387;
    color: #f9e387;
    border: 2px solid #f9e387;
}*/

.rectangular-button.vk {
    width: 300px;
    height: 80px;
   /* background: url(/img/vk.png) no-repeat;*/
}

.rectangular-button.ok {
    width: 300px;
    height: 80px;
    /* background: url(/img/ok.png) no-repeat;*/
}

/* .rectangular-button span {
    padding-left: 36px;
}*/

.rectangular-button.fb {
    width: 300px;
    height: 80px;
    /* background: url(/img/fb.png) no-repeat;*/
}

.rectangular-button.ig {
    width: 300px;
    height: 80px;
    /*background: url(/img/ig.png) no-repeat;*/
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.header {
    text-align: center;
    position: absolute;
    right: 5%;
    top: 40px;
}

h1 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 38px;
    color: #F0E68C;
    margin: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

@font-face {
	font-family: Svoboda;
	src: url(/Svoboda.ttf);
}

@font-face {
	font-family: bebasneue;
	src: url(/bebasneue-webfont.ttf);
}

#social h1 {
    margin-bottom: 30px;
    font-family: Svoboda;
    font-weight: normal;
}

h2 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 34px;
    color: #F0E68C;
    margin: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

p, #about li, #product li, #principles, .label, .send {
    font: menu;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.contact-form {
	width: 650px;
	padding: 75px;
	background: #ffffff;
}

.contacts-form-row {
	font-size: 0;
	white-space: nowrap;
	margin: 0 0 18px;
	display: block;
}

.contacts-form-row .label {
	width: 200px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;*
	display: inline;*
	zoom: 1;
	text-align: left;
	color: #050505;
	font-family: bebasneue;
	font-weight: 400;
}

textarea {
	width: 448px;
	height: 89px;
	padding: 12px;
	font-size: 14px;
	line-height: 16px;
	vertical-align: top;
	display: inline-block;*
	display: inline;*
	zoom: 1;
	resize: none;
	border: 1px solid #5b5b5b;
}

input[type="text"], input[type="email"] {
	width: 424px;
	height: 38px;
	padding: 0 12px;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	display: inline-block;*display: inline;*zoom: 1;
	border: 1px solid #5b5b5b;
}

.send {
	margin: 0 0 0 200px;
	background-image: url('/img/send.png');
	background-position: 0 0;
	width: 147px;
	height: 38px;
}

.send:hover {
	background-position: 0 -38px;
}

.phone a {
    color: #f5f5f5;
    text-decoration: none;
}

.number {
    color: #f9e387;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.phone-logo {
	width: 370px;
	height: 73px;
	background-image: url(/img/phone.png);
	background-position: 0 0;
	margin: auto;
}

#blur-div .phone-logo:hover {
	background-position: 0 -73px;
}

.delivery-logo {
	width: 150px;
	height: 42px;
	background-image: url(/img/delivery.png);
	background-position: 0 0;
	margin: 5px auto;
}

.delivery-logo:hover {
	background-position: 0 -42px;
}

.menu-block {
	width: 214px;
	height: 80px;
	margin: 5px 0px;
}

.link-button a {
	display: inline-block;
	margin: 0 16.5px;
}

.menu {
	background-image: url(/img/menu.png);
	background-position: 0 0;
}

.menu:hover {
	background-position: 0 -80px;
}

.about {
	background-image: url(/img/about.png);
	background-position: 0 0;
}

.about:hover {
	background-position: 0 -80px;
}

.product {
	background-image: url(/img/product.png);
	background-position: 0 0;
}

.product:hover {
	background-position: 0 -80px;
}

.photo {
	background-image: url(/img/photo.png);
	background-position: 0 0;
}

.photo:hover {
	background-position: 0 -80px;
}

.social-block {
	width: 304px;
	height: 82px;
}

.vk .social-block {
	background-image: url(/img/vkontakte.png);
	background-position: 0 0;
}

.vk .social-block:hover {
	background-position: 0 -81px;
}

.ok .social-block {
	background-image: url(/img/odnoklassniki.png);
	background-position: 0 0;
}

.ok .social-block:hover {
	background-position: 0 -82px;
}

.fb .social-block {
	background-image: url(/img/facebook.png);
	background-position: 0 0;
}

.fb .social-block:hover {
	background-position: 0 -82px;
}

.ig .social-block {
	background-image: url(/img/instagram.png);
	background-position: 0 0;
}

.ig .social-block:hover {
	background-position: 0 -82px;
}

#social, #delivery, #about, #product, #photo, #menu, #question {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
}

#background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: none;
}

#product-background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(/img/product/product-background.jpg);
	position: fixed;
	display: none;
}

#menu #background {
	display: block;
}

#menu #background-image {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
    	background-position: 50% 50%;
    	background-image: url(/img/product/product-background.jpg);
}

#popup {
    position: absolute;
    width: 800px;
    height: 300px;
    /* background: rgb(255,255,255);
    border: 5px solid rgb(90,90,90); */
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;	
	margin: auto;
}

#social {
	min-height: 360px;	
}

#social #popup {
    text-align: center;
}

#delivery {
	min-width: 860px;
	min-height: 600px;
}

#delivery .phone p {
	font-size: 30px;
}

#delivery #popup {
	width: 700px;
	height: 400px;
}

#delivery p {
	margin: 25px;
    	font-family: calibri;
}

#delivery p:nth-child(1) {
    font-size: 36px;
    margin-bottom: 7px;
}

#delivery .action {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-image: url(/img/action.png);
	width: 269px;
	height: 200px;
}

#delivery img {
	margin-top: 20px;
}

#delivery .day {
	background: #96ca50;
	margin: 20px 8px 0 8px;
    	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 42px;
	height: 29px;
	padding-top:10px;
	vertical-align: top;
	display: inline-block;
	font-family: calibri;
	font-size: 13px;
	color: #f5f5f5;
	font-weight: bold;
	text-shadow: #80cb24 1px 0 0px, #80cb24 0 1px 0px, #80cb24 -1px 0 0px, #80cb24 0 -1px 0px;
}

#delivery .time {
	font-size: 48px;
    	font-family: bebasneue;
    	font-weight: normal;
    	color: #f9e588;
    	display: inline-block;
}

#delivery .time:nth-child(2) {
	margin-right: 95px;
}

#delivery .time:nth-child(3) {
	margin-right: 57px;
}

#delivery .number {
	margin: 0 2px;
}

#delivery .dash {
	margin: 0 20px;
}

#delivery #popup {
    	text-align: center;
}

#product {
	min-height: 800px;
	min-width: 1220px;
	background-size: cover;
}

#product .header img, #about .header img {
	height: 117px;	
}

.block-components, .block-why-we {
	display: inline-block;
	width: 320px;
	vertical-align: top;
}

.why-we-image, .component-image, .image, .send {
	cursor: pointer;
}

.why-we-image, .component-image {
	width: 300px;
	height: 89px;
	margin: 10px;
}

#product .sub-link {
	height: 55px;
	width: 55px;
	display: inline-block;
	margin: 5px;
}

#product .components-images .sub-link:nth-child(1) {
	background-image: url(/img/product/1.png);
	background-position: 0 0;
}

#product .components-images .sub-link:nth-child(1):hover {
	background-position: 0 -55px;
}

#product .components-images .sub-link:nth-child(1).active {
	background-position: 0 -110px;
}

#product .components-images .sub-link:nth-child(2) {
	background-image: url(/img/product/2.png);
	background-position: 0 0;
}

#product .components-images .sub-link:nth-child(2):hover {
	background-position: 0 -55px;
}

#product .components-images .sub-link:nth-child(2).active {
	background-position: 0 -110px;
}

#product .components-images .sub-link:nth-child(3) {
	background-image: url(/img/product/3.png);
	background-position: 0 0;
}

#product .components-images .sub-link:nth-child(3):hover {
	background-position: 0 -55px;
}

#product .components-images .sub-link:nth-child(3).active {
	background-position: 0 -110px;
}

#product .components-images .sub-link:nth-child(4) {
	background-image: url(/img/product/4.png);
	background-position: 0 0;
}

#product .components-images .sub-link:nth-child(4):hover {
	background-position: 0 -55px;
}

#product .components-images .sub-link:nth-child(4).active {
	background-position: 0 -110px;
}

#product .why-we-images .sub-link:nth-child(1) {
	background-image: url(/img/product/5.png);
	background-position: 0 0;
}

#product .why-we-images .sub-link:nth-child(1):hover {
	background-position: 0 -55px;
}

#product .why-we-images .sub-link:nth-child(1).active {
	background-position: 0 -110px;
}

#product .why-we-images .sub-link:nth-child(2) {
	background-image: url(/img/product/6.png);
	background-position: 0 0;
}

#product .why-we-images .sub-link:nth-child(2):hover {
	background-position: 0 -55px;
}

#product .why-we-images .sub-link:nth-child(2).active {
	background-position: 0 -110px;
}

#product .why-we-images .sub-link:nth-child(3) {
	background-image: url(/img/product/7.png);
	background-position: 0 0;
}

#product .why-we-images .sub-link:nth-child(3):hover {
	background-position: 0 -55px;
}

#product .why-we-images .sub-link:nth-child(3).active {
	background-position: 0 -110px;
}

#product .why-we-images .sub-link:nth-child(4) {
	background-image: url(/img/product/8.png);
	background-position: 0 0;
}

#product .why-we-images .sub-link:nth-child(4):hover {
	background-position: 0 -55px;
}

#product .why-we-images .sub-link:nth-child(4).active {
	background-position: 0 -110px;
}

.component-image {
	background: url(/img/product/components.png);
	background-position: 0 0;
}

.component-image:hover {
	background-position: 0 -89px;
}

.component-image.active {
	background-position: 0 -178px;
}

.why-we-image {
	background: url(/img/product/why-we.png);
	background-position: 0 0;
}

.why-we-image:hover {
	background-position: 0 -89px;
}

.why-we-image.active {
	background-position: 0 -178px;
}

#healthy, #tasty, #nutritionally, #carbohydrates, #vitamins, #fiber, #proteins {
	display: none;
}

#about {
	min-height: 870px;
	min-width: 1220px;
}

#about #popup, #product #popup {
	width: 740px;
    	padding: 20px;
}

#about #popup {
	height: 586px;
	/*background-color: #000;
	border: 4px solid #fff;*/
}

#product #popup {
	height: 500px;
	text-align: center;
}

#product h2 {
	text-align: left;
}

#about .hide {
	font-weight: bold;
	color: #f9e588;
	text-decoration: none;
}

#photo {
	min-height: 1040px;
}

#photo #popup {
    width: 1350px;
    text-align: center;
    height: 940px;
}

#photo .image {
	width: 200px;
	height: 150px;
	display: inline-block;
	text-align: center;
}
	
#photo .image img {
    vertical-align: middle;
}

#menu {
	min-height: 970px;
	min-width: 970px;
}

#menu #popup {
    width: 960px;
    height: 960px;
    text-align: center;
}

#question #popup {
	height: 523px;
}

.menu-image {
	vertical-align: top;
	display: inline-block;
	width: 211px;
	height: 300px;
	vertical-align: top;
	margin: 10px;
}

.menu-image:nth-child(4) img, .menu-image:nth-child(8) img {
	margin-top: 75px;
}

.menu-image:nth-child(10) {
	margin-right: 482px;
}

.menu-image a {
	text-decoration: none;
}

.price {
	margin: -45px 0px 0px -80px;
	font: menu;
	font-size: 32px;
	color: #050505;
	font-weight: 700;
}

#about p, #product p, #about li, #product li, #principles {
    text-align: justify;
    font-weight: normal;
    font-size: 18px;
}

#about p:nth-child(5) {
    text-align: center;
}

#social a.rectangular-button {
    margin: 10px;
    display: inline-block;
}

body,div,dl,dt,dd,ul, li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { 
    margin: 0;
    padding: 0;
}

#about ul, #product ul {
    list-style: square outside;
    margin-top: -1em;
    padding-left: 40px;
}

html,body {
    margin:0;
    padding:0;
}


body {
    margin: 0;
    padding: 0;
    background: #000;
}

#blur-div {
    width: 100%;
    min-height: 100vh;
}

.alerting {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.alerting-1 {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow:after { 
    content: '';
    background: transparent url(/images/pattern.png) repeat top left; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(/images/1.jpg);
}
/*.cb-slideshow li:nth-child(2) span { 
    background-image: url(/images/2.jpg);
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(/images/3.jpg);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(/images/4.jpg);
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(/images/5.jpg);
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(/images/6.jpg);
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span { 
    background-image: url(/images/7.jpg);
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span { 
    background-image: url(/images/8.jpg);
    animation-delay: 42s;
}*/
/*.cb-slideshow li:nth-child(9) span { 
    background-image: url(/images/9.jpg);
    animation-delay: 48s; 
}*/
/*.cb-slideshow li:nth-child(10) span { 
    background-image: url(/images/10.jpg);
    animation-delay: 54s; 
}*/

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) div { 
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) div { 
    animation-delay: 42s;
}
/*.cb-slideshow li:nth-child(9) div { 
    animation-delay: 48s;
} */
/*.cb-slideshow li:nth-child(10) div { 
    animation-delay: 54s; 
}*/

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/*@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}*/
