#container{
    text-align: center;
}

.round-button, .close-icon {
    display:block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
}
.round-button:hover {
    background: #262626;
}

.close-icon {
    right: 40px;
    top: 40px;
    botton: auto;
}

.rectangular-button {
    display: inline-block;
    font: menu;
    width: 300px;
    height: 100px;
    
    margin:15px;

    line-height: 90px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    color:#f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 30px;
    font-weight: bold;
}
.rectangular-button:hover {
    background: #262626;
}

.divider{
    width: 5px;
    height: auto;
    display: inline-block;
}

.header {
    text-align: center;
}

h1 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 44px;
    color: #F0E68C;
    margin: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

h2 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 34px;
    color: #F0E68C;
    margin: 0 0 40px 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}


video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}


.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
#popup {
    position: absolute;
    width: 600px;
    height: 400px;
    /* background: rgb(255,255,255);
    border: 5px solid rgb(90,90,90); */
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}