#container {
    text-align: center;
}

.round-button {
    display:block;
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 70px;
    height: 70px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    /*background: #464646;*/
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    background-image: url('img/social.png');
    background-position: -1px -1px;
}
.round-button:hover {
    /*background: #262626;*/
    background: rgba(0, 0, 0, 1);
    border: 2px solid #f9e387;
    background-image: url('img/social_creme.png');
    background-position: -1px -1px;
}

.phone-button {
    display:block;
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #464646;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    background-image: url('img/phone.png');
    background-position: -1px -1px;
}

.phone-button:hover {
    background: rgba(0, 0, 0, 1);
    border: 2px solid #f9e387;
    background-image: url('img/phone_creme.png');
    background-position: -1px -1px;
}

.phone-button:hover ~ .delivery {
    color:#f9e387;
    border-bottom: 2px dotted #f9e387;
}

.phone {
    position: fixed;
    left: 5%;
    top: 5%;
    display: block;
    font: menu;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 470px;
    /*line-height: 72px;*/
}

.delivery {
    display: inline-block;
    font: menu;
    text-decoration: none;
    color:#f5f5f5;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px dotted white;
}
.delivery:hover {
    color:#f9e387;
    border-bottom: 2px dotted #f9e387;
}

.close-icon {
    display: block;
    position: fixed;
    right: 40px;
    top: 40px;
    width: 50px;
    height: 50px;
    background-image: url('img/close.png');
}
.close-icon:hover {
    background-image: url('img/close2.png');
}

.rectangular-button {
    display: inline-block;
    font: menu;
    width: 210px;
    height: 70px;
    margin: 10px;
    line-height: 74px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7); /*#464646;*/
    box-shadow: 0 0 3px gray;
    font-size: 26px;
    font-weight: bold;
}
.rectangular-button:hover {
    /*background: #262626;*/
    background: rgba(0, 0, 0, 1);
    /*background: #f9e387;*/
    color: #f9e387;
    border: 2px solid #f9e387;
}

.divider{
    width: 5px;
    height: auto;
    display: inline-block;
}

.header {
    text-align: center;
    position: fixed;
    right: 5%;
    top: 5%;
}

h1 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 44px;
    color: #F0E68C;
    margin: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

h2 {
    font-family: "TexGyreHeros", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 34px;
    color: #F0E68C;
    margin: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: 2px 2px 0px black;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

p, #about li, #product li {
    font: menu;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.logo p {
    font-size: 24px;    
    font-style: italic;
    margin: 0px;
}

.phone p {
    margin: 0px;
    font-size: 30px;
    color: white;
}
.number {
    color: #f9e387;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#social, #delivery, #about, #product, #photo {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#popup {
    position: absolute;
    width: 600px;
    height: 400px;
    /* background: rgb(255,255,255);
    border: 5px solid rgb(90,90,90); */
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}


#about #popup, #product #popup {
    width: 1200px;
    margin: 20px auto;
}

#photo #popup {
    width: 1350px;
    margin: 50px auto;
}

#photo img {
    height:150px;
}

#about p, #product p, #about li, #product li {
    text-align: left;
    font-weight: normal;
    font-size: 18px;
}

body,div,dl,dt,dd,ul, li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { 
    margin:0;
    padding:0;
}

#about ul, #product ul {
    list-style: square outside;
    margin-top: -1em;
    padding-left: 40px;
}

html,body {
    margin:0;
    padding:0;
}


body {
    margin: 0;
    padding: 0;
    background: #000;
}

#blur-div {
    width: 100%;
    min-height: 100vh;
}

.alerting {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow:after { 
    content: '';
    background: transparent url(images/pattern.png) repeat top left; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(images/2.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(images/3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(images/4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(images/5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(images/6.jpg);
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) span { 
    background-image: url(images/7.jpg);
    animation-delay: 36s; 
}
.cb-slideshow li:nth-child(8) span { 
    background-image: url(images/8.jpg);
    animation-delay: 42s; 
}
/*.cb-slideshow li:nth-child(9) span { 
    background-image: url(images/9.jpg);
    animation-delay: 48s; 
}*/
/*.cb-slideshow li:nth-child(10) span { 
    background-image: url(images/10.jpg);
    animation-delay: 54s; 
}*/

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) div { 
    animation-delay: 36s; 
}
.cb-slideshow li:nth-child(8) div { 
    animation-delay: 42s; 
}
/*.cb-slideshow li:nth-child(9) div { 
    animation-delay: 48s;
} */
/*.cb-slideshow li:nth-child(10) div { 
    animation-delay: 54s; 
}*/

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
